.page-container {
  display: flex;
  flex-direction: row; /* Arrange children horizontally */
  justify-content: space-between; /* Space out the containers */
  align-items: start; /* Align items to the start of the container */
  width: 100%; /* Full width of the parent */
  padding: 20px; /* Padding around the entire container */
}

.horizontal-container {
  flex: 1; /* Allows the containers to grow and take up equal space */
  padding: 10px; /* Padding inside the containers for some spacing */
  /* Optionally, you might want to set a min-width to prevent them from becoming too narrow */
  min-width: 200px; /* Adjust based on your content needs */
}

/* If you noticed a typo in your original code, it's 'page-container' not 'pagde-container' */

  
  .input-room-name {
    padding: 10px;
    margin: 10px 0;
    width: 500px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
  }
  
  .btn-create-room {
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.2s;
  }
  
  .btn-create-room:hover {
    background-color: #0056b3;
  }
  
  .room-id-display {
    margin: 10px 30px 500px 100px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: #f8f9fa;
    border: 11px solid #ddd;
    border-radius: 28px;
  }
  